In [83]:
#CSC424 create dummies

## Import Modules
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [84]:
##get working directory
os.getcwd()

'C:\\Depaul_Win7\\DSC 424 Advanced Data Analysis\\Project\\family'

In [85]:
##load famcleaned2.csv via read_csv
fam_df = pd.read_csv('C:/Depaul_Win7/DSC 424 Advanced Data Analysis/Project/family/famcat.csv', sep=",")
fam_df = fam_df.drop(fam_df.columns[0],axis=1)
fam_df.head()

,FM_STRCP,FM_TYPE,FM_STRP,TELN_FLG,CURWRKN,TELCELN,FLNGINTV,F10DVYN,FDMEDYN,FHCDVYN,...,FINTR1YN,FDIVDYN,FCHSPYN,FINCOTYN,FSSAPLYN,FSDAPLYN,FMEDBILL,FMEDBPAY,FSAF,FHICOVYN
0,11,1,11,1,2,1,1,2,2,2,...,1,1,2,2,2,2,2,2,2,1
1,31,3,31,1,2,1,1,2,2,2,...,2,2,2,2,2,2,2,2,2,1
2,11,1,11,1,2,1,1,2,2,2,...,2,2,2,2,2,2,2,2,2,1
3,11,1,11,1,1,2,1,2,2,1,...,2,2,2,2,2,2,2,2,2,1
4,41,4,41,1,2,1,1,1,2,1,...,2,1,2,2,2,2,2,2,2,1

In [86]:
fam_cat = fam_df.astype('category')

In [87]:
fam_cat.dtypes

FM_STRCP    category
FM_TYPE     category
FM_STRP     category
TELN_FLG    category
CURWRKN     category
TELCELN     category
FLNGINTV    category
F10DVYN     category
FDMEDYN     category
FHCDVYN     category
FHCHMYN     category
FHCPHRYN    category
FHOSP2YN    category
FNMEDYN     category
FSRUNOUT    category
FSLAST      category
FSBALANC    category
FLAADLYN    category
FLIADLYN    category
FWKLIMYN    category
FWALKYN     category
FREMEMYN    category
FANYLYN     category
HOUSEOWN    category
FSNAP       category
INCGRP4     category
INCGRP5     category
FSALYN      category
FSEINCYN    category
FSSRRYN     category
FPENSYN     category
FOPENSYN    category
FSSIYN      category
FTANFYN     category
FOWBENYN    category
FINTR1YN    category
FDIVDYN     category
FCHSPYN     category
FINCOTYN    category
FSSAPLYN    category
FSDAPLYN    category
FMEDBILL    category
FMEDBPAY    category
FSAF        category
FHICOVYN    category
dtype: object

In [95]:
# create dummy variables k-1
fam_dummy = pd.get_dummies(fam_cat, drop_first=True)
fam_dummy.head()

,FM_STRCP_12,FM_STRCP_21,FM_STRCP_22,FM_STRCP_23,FM_STRCP_31,FM_STRCP_32,FM_STRCP_33,FM_STRCP_41,FM_STRCP_42,FM_STRCP_43,...,FINTR1YN_2,FDIVDYN_2,FCHSPYN_2,FINCOTYN_2,FSSAPLYN_2,FSDAPLYN_2,FMEDBILL_2,FMEDBPAY_2,FSAF_2,FHICOVYN_2
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,0
1,0,0,0,0,1,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
2,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
3,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
4,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,1,1,1,1,0

In [96]:
##load famnum via read_csv
fam_num = pd.read_csv('C:/Depaul_Win7/DSC 424 Advanced Data Analysis/Project/family/famnum.csv', sep=",")
fam_num = fam_num.drop(fam_num.columns[0],axis=1)
fam_num.head()

,FHICOST,F10DVCT,FHCPHRCT,FDGLWCT2,FWKLIMCT,FHSTATEX,FHSTATPR,FSEINCCT,FSSICT,FDIVDCT,...,FM_SIZE,FDMEDCT,FHOSP2CT,FWALKCT,FHSTATVG,FSSRRCT,FTANFCT,FCHSPCT,FHICADCT,FHIOGVCT
0,0,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,2,0,0,0,0,...,2,0,0,0,0,0,0,0,2,0
2,0,0,0,0,0,0,0,1,0,0,...,1,0,1,0,1,0,0,0,0,0
3,1,0,1,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,1,1,1,0,0,0,0,0,0,2,...,3,0,1,0,3,0,0,0,0,0

In [97]:
#merge data frames
famreg = pd.concat([fam_num, fam_dummy], axis = 1, join_axes=[fam_num.index])
famreg.head()

,FHICOST,F10DVCT,FHCPHRCT,FDGLWCT2,FWKLIMCT,FHSTATEX,FHSTATPR,FSEINCCT,FSSICT,FDIVDCT,...,FINTR1YN_2,FDIVDYN_2,FCHSPYN_2,FINCOTYN_2,FSSAPLYN_2,FSDAPLYN_2,FMEDBILL_2,FMEDBPAY_2,FSAF_2,FHICOVYN_2
0,0,0,0,0,0,1,0,0,0,1,...,0,0,1,1,1,1,1,1,1,0
1,0,0,0,0,0,2,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
2,0,0,0,0,0,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,0
3,1,0,1,0,0,1,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
4,1,1,1,0,0,0,0,0,0,2,...,1,0,1,1,1,1,1,1,1,0

In [98]:
#save dummy variables to csv file
famreg.to_csv('fam_all_dummies.csv', sep=",")